body{
    background-color: aliceblue;
    
}
h1{
    color: red;
    text-align: center;
    font-size: 20px;
    border: solid red;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}
a{
    background-color: orange;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 20px;
    font: size 20px; ;
    display: inline-block;
    margin: 10px;

}
a:hover {
    background-color: red;
    cursor: pointer;
}